{% extends 'startbootstrap-grayscale-gh-pages/index.html' %}

{% block conteudo %}
{% if messages %}

           {% for message in messages %}
              <p class="{{ message.tags }}">{{ message }}</p>
             {% endfor %}
        {% endif %}

	 <div class=" mdl-cell mdl-cell--8-col">
          <div class="table mdl-color--white">
            <table class="mdl-data-table mdl-js-data-table" width="100%" >
               <thead>
                  <tr>
                <th class="mdl-data-table__cell--non-numeric ">id</th>
                  <th>Conteudo</th>
                  <th>Pergunta</th>
                   <th>Opções</th>
                </tr>
             </thead>
              <tbody>

              {% for choice in choices%}

                <tr>
                 <td class="mdl-data-table__cell--non-numeric">{{choice.pk}}</td>
                 <td>{{choice.question}}</td>
                   <td>{{choice.choice_text}}</td>
                  <td>
                    <a class="mdl-navigation__link" href= "{% url 'polls:editchoice' pk=choice.pk %}"><i class="material-icons" role="presentation">create</i></a>
                   	<a class="mdl-navigation__link" href= "{% url 'polls:deletechoice' pk=choice.pk %}"><i class="material-icons" role="presentation">delete</i></a>
                  </td>
                </tr>

                {%endfor%}

              </tbody>
            </table>
            </div>
          </div>

{% endblock %}