<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
	<title>ArtStation</title>
	<link rel="stylesheet" href="{% static 'css/Art.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="Description" content="Updates about ArtStation" />
	<meta name="Keywords" content="ArtStation, MarketPlace, Jobs" />
	<meta name="Author" content="Evelin" />
	<meta name="robots" content="Index, Follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="img/Art.ico"  />
</head>														
	<header>
		<nav class="pages">
			<a class="ArtStation" href="{%url 'arts:post_list'%}">ArtStation</a>
			<a class="MarketPlace" href="{%url 'arts:MarketPlace'%}">MarketPlace</a>
			<a class="Jobs" href="{%url 'arts:Jobs'%}">Jobs</a>
	</header>
	<article>
		The Showcase Platform for
	</article>
	<article>
		Art & Design
	</article>
		{%block conteudo%}
			

		{%endblock%}
	</div>
	<footer>
		<form method="get">
			<fieldset>
				<legend>Newsletter</legend>
				<legend>Subscribe to the ArtStation newsletter to get awesome artwork in your mailbox weekly.</legend>
				<input type="email" name="email"><br /><br />
				<input type="Subscribe" name="Subscribe" value="Subscribe">
			</fieldset>
		</form>
		<ol class="Connect">
			<legend>Connect with us</legend>
			<li><a class="SocialMedia" href="https://www.facebook.com/artstationhq">Facebook</a></li>
			<li><a class="SocialMedia" href="https://www.instagram.com/artstationhq/">Instagram</a></li>
			<li><a class="SocialMedia" href="https://twitter.com/artstationhq">Twitter</a></li>
		</ol>
		<ul class="Mobile">
			<legend>Mobile App</legend>
			<li><a class="cusLink" href="https://itunes.apple.com/us/app/artstation-app/id924645286">Download on the App Store</a></li>
			<li><a class="cusLink" href="https://play.google.com/store/apps/details?id=com.ballistiq.artstation">Get it on Google Play</a></li>
		</ul>
	</footer>	
</body>
</html>